---
import HeaderBar from '../components/HeaderBar.astro'
import { SITE } from '../config'
import '../styles/index.scss'
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {SITE.description && <meta name="description" content={SITE.description} />}
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={SITE.title} />
    <meta property="og:image" content={`${SITE.url}/og-image.png`} />
    <meta property="og:url" content={SITE.url} />
    {
      SITE.description && (
        <meta property="og:description" content={SITE.description} />
      )
    }
  </head>
  <body>
    <HeaderBar showLogo />
    <slot />
  </body>
</html>
